<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benford's Law Chart</title>
</head>
<body>
{% autoescape off %}
    {{ plot_div }}
{% endautoescape %}
<div>
    Chi square test results for Benford's law
    <table>
  <tr>
    <th>Index</th>
    <th>Alfa</th>
    <th>Test passed</th>
  </tr>
  <tr>
    <td>1</td>
    <td>0.01</td>
    <td>{{ chi_square_alfa_1 }}</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0.05</td>
    <td>{{ chi_square_alfa_5 }}</td>
  </tr>
</table>
</div>
<div style="margin-top: 10px;font-weight: bold" >
     <a href="{% url 'benford-law-list'%}">View historical data</a>
</div>
</body>
</html>