<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Uploaded data sets</title>
</head>
<body>
<h1>Uploaded data sets</h1>
<ul>

{% for dataset in dataset_list %}
    <li><a href="{% url 'benford-law' dataset.id %}">{{ dataset.file }}</a>   --  {{dataset.upload_time}}</li>
{% empty %}
    <li>No data sets yet.</li>
{% endfor %}

</ul>
</body>
</html>