<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Upload your data set</title>
</head>
<body>
<form action="/benford/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<div style="margin-top: 10px;font-weight: bold" >
     <a href="{% url 'benford-law-list'%}">View historical data</a>
</div>
</body>
</html>